.container {
    display: flex;
    flex-direction: column;
    height: 376px;
    width: 100%;
    border: 1px solid #ebebeb;
    overflow-wrap: break-word;
}

.postHeader, .postHeaderText {
    display: flex;
}

.postHeader {
    gap: 16px;
    padding: 16px 24px;
    width: fit-content;
    flex-wrap: wrap;
}

.posterImage {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.postHeaderText {
    flex-direction: column;
    justify-content: left;
}

.posterName {
    font-weight: bold;
    cursor: pointer;
}

.posterName:hover {
    text-decoration: underline;
}

.postContent {
    position: relative;
    width: 100%;
    height: 100%;
}
.posteImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.simplePostContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.postFooter {
    position: relative;
    width: 100%;
    height: 44px;
    padding: 12px;
}

.likeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: all 0.6s;
    cursor: pointer;
}

.likeButton:hover {
    background-color: #ebebeb;
}