.container {
    display: flex;
    flex-direction: column;
    height: 376px;
    width: 100%;
    border: 1px solid #ebebeb;
    overflow-wrap: break-word;
}

.postHeader, .postHeaderText {
    display: flex;
}

.postHeader {
    gap: 16px;
    padding: 16px 24px;
    width: auto;
}

.posterImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}

.postHeaderText {
    flex-direction: column;
    justify-content: left;
}

.posterName {
    font-weight: bold;
}